@font-face {
    font-family: Moncler;
    src: url(../Fonts/MonclerGothicWeb-ExtraLight.ttf);
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
}

.navigation-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-logo p {
    font-size: 38px;
}

.navigation-menu hr:visited {
    color: black;
}

.navigation-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    
}

.navigation-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.navigation-menu hr {
    border: none;
    width: 80%;
    height: 1px;
    border-radius: 10px;
    background: black;
}

.nav-login-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-login-cart button {
    width: 70px;
    height: 50px;
    border: none;
    background: none;
    font-family: Moncler;
    font-size: 20px;
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -10px;
    border-radius: 11px;
    font-size: 14px;
    background-color: black;
    color: white;
}
